* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* width and height are calculate after padding, margins etc */
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    background-color: #CADCFC;
}

.navbar {
    background-color: #00246B;

    margin: 0, 0;
    width: 100%;
    padding: 10px;

    display: flex;
    justify-content: space-between; /* Far left and far right */
    align-items: center; /*Vertically align items*/
}

.navbar img {
    width: 20%;
}

.navbar button {
    all: unset;
		color: white;
/*    background: lightblue;*/
    padding: 5px;		
    border-bottom: solid 4px;
}

.navbar button:hover {
    background: grey;
}
