* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* width and height are calculate after padding, margins etc */
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    background-color: #cadcfc;
}

.navbar {
    background-color: #00246b;

    margin: 0, 0;
    width: 100%;
    padding: 10px;

    display: flex;
    justify-content: space-between; /* Far left and far right */
    align-items: center; /*Vertically align items*/
}

.navbar img {
    width: 20%;
}

.navbar a {
    all: unset;
    color: white;
    /*    background: lightblue;*/
    padding: 5px;
    border-bottom: solid 4px;
    cursor: pointer;
}

.navbar a:hover {
    background: grey;
}

.navbar a.selected {
    color: black;
    border-color: black;
}
