* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* width and height are calculate after padding, margins etc */
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    /*background-color: #cadcfc;*/
    background-color: white;
}

.navbar {
    background-color: #415d43;

    margin: 0, 0;
    width: 100%;
    padding: 10px;

    display: flex;
    justify-content: space-between; /* Far left and far right */
    align-items: center; /*Vertically align items*/
}

.navbar img {
    width: 20%;
}

.navbar a {
    all: unset;
    color: white;
    /*    background: lightblue;*/
    padding: 5px;
    border-bottom: solid 4px;
    cursor: pointer;
}

.navbar a:hover {
    background: grey;
}

.navbar a.selected {
    color: white;
    border-color: black;
}

.navbar a.login-button {
    background-color: lightgray;
    color: black;
    border: none;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

.overlay-menu {
    display: none;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1001;

    padding: 10px;
    border-radius: 10px;

    flex-direction: column;
    align-items: center;
}

.overlay-menu * {
    margin-bottom: 0.5rem;
}

.close {
    position: absolute;
    top: 0.1rem;
    right: 0.3rem;
    cursor: pointer;
}

#dim-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.popup-warning {
    display: none;
    background-color: red;
    border-radius: 0.4rem;
    width: 90%;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    border-color: black;
    color: white;
    padding: 0.75rem;
    transition: all 0.3s ease;
}

.popup-warning-active {
    display: block;
}

.login-page {
    width: 30%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 1rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
}

.login-page * {
    margin-bottom: 1rem;
}

.login-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;
    gap: 3rem;
}

.about-page {
    width: 75%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
}

.bold-span {
    font-weight: bold;
}

.about-page * {
    margin: 0.3rem;
}

.about-page img {
    width: 70%;
    height: auto;
}
