.task {
    text-align: left;
    border-radius: 15px;
    transition: all 0.3s ease;
    min-height: 1.5rem;
    padding: 0.5rem;
    border: 1px solid black;
    width: 400px;
    box-shadow: 1px 1px 3px;
    background-color: white;
}

.task-data {
    flex-grow: 3;
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
}

.task-name {
    font-weight: bold;
    font-size: 1.1rem;
}

.task-subject {
    font-weight: normal;
    font-size: 0.9rem;
}

.today-tasks {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.main-content {
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .task {
        width: 100%;
    }
}

#timer {
    height: 300px;
    margin-top: 2rem;
    margin-right: 2rem;
}

#timer > svg {
    height: 100%;
    display: block;
}

.stages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.stages div {
    font-size: 1rem;
    font-weight: normal;
    border: 1px solid black;
}

.timer-section {
    display: flex;
    justify-content: center;
}

.studying {
    background-color: green;
    color: white;
    border-color: white;
}

.shorting {
    background-color: blue;
    color: white;
    border-color: white;
}

.longing {
    background-color: purple;
    color: white;
    border-color: white;
}

.timer-button {
    margin: 0.5rem;
}

.hide {
    opacity: 0;
}
