.subjects {
    background-color: #d0efb1;

    padding: 5px;
    padding-right: 10px;

    display: flex;
    justify-content: flex-start; /*align to left */
}

.current-subject {
    margin-top: 1.8%;
    margin-bottom: 1.8%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.7rem;
}

.subject-selected {
    border-bottom: 2px solid black;
    font-weight: bold;
}

.subject-container {
    max-width: 40%;
    display: flex;
    flex-wrap: wrap;
}

.subject-container * {
    margin-right: 5px;
}

.edit-subject {
    margin-left: 1rem;
    color: lightgray;
    cursor: pointer;
}

.edit-subject:hover {
    color: darkgray;
}

.subjects span {
    margin-right: 5%;
    cursor: pointer;
}

.subjects span:hover {
    color: lightgray;
}

.subjects .add-subject {
    color: darkgray;
    text-decoration: underline;
}

.tasks {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    min-height: 40%;

    display: flex;
    justify-content: space-evenly;
}

.study-tasks,
.assess-tasks {
    background-color: lightgray;
    width: 40%;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px;
}
.study-tasks span,
.assess-tasks span {
}

.task-title {
    text-decoration: underline;
}

.task {
    text-align: left;
    margin-top: 10px;
    background-color: white;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 15px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    transition: all 0.3s ease;
    min-height: 1.5rem;
}

.task i {
    color: gray;
    cursor: pointer;
}

.task-data {
    flex-grow: 3;
    display: flex;
    gap: 0.7rem;
    flex-direction: column;
}

.task-name {
    font-weight: bold;
    font-size: 1.1rem;
}

.task-description {
    font-size: 0.75rem;
}

.task-checkbox {
    cursor: pointer;
}

.add-task {
    opacity: 0.5;
    cursor: pointer;
}

.add-task:hover {
    background-color: transparent;
}

#task-entry * {
    margin-top: 10px;
}
