.subjects {
    background-color: #d0efb1;

    padding: 5px;
    padding-right: 10px;

    display: flex;
    justify-content: flex-start; /*align to left */
}

.subjects span {
    margin-right: 5%;
    cursor: pointer;
}

.subjects span:hover {
    color: lightgray;
}

.subjects .add-subject {
    color: darkgray;
    text-decoration: underline;
}

.tasks {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    min-height: 40%;

    display: flex;
    justify-content: space-evenly;
}

.study-tasks,
.assess-tasks {
    background-color: lightgray;
    width: 40%;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px;
}
.study-tasks span,
.assess-tasks span {
    text-decoration: underline;
}

.task {
    text-align: left;
    margin-top: 10px;
    background-color: white;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 15px;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    min-height: 1.5rem;
}

.task i {
    color: gray;
    cursor: pointer;
}

.task-checkbox {
    cursor: pointer;
}

.add-task {
    opacity: 0.5;
    cursor: pointer;
}

.add-task:hover {
    background-color: transparent;
}

#task-entry * {
    margin-top: 10px;
}
